body {
    font-family: Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, Sans-Serif;

}

.header {

}

.footer {
    color: #E5E7EB;
}

.hero {

}

.hero, .footer {
    background: #1F2937;
}

.heroprimary {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.herosecondary {
    font-size: 18px;
    color: #E5E7EB;
}

.info {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}