body {
    font-family: Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, Sans-Serif;

}

.header {
    display: flex;
    background: #1F2937;
    justify-content: space-between;
    align-items: center;
    color: #E5E7EB;
}

.footer {
    color: #E5E7EB;
}

.hero {
    display: flex;
    padding: 32px;
    height: 400px;
}

.hero, .footer {
    background: #1F2937;
}

.heroprimary {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.herosecondary {
    font-size: 18px;
    color: #E5E7EB;
}

.heroright {
    display: flex;
}

.heroleft {
    display: flex;
    flex-direction: column;
}

.info {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

#logo {
    width: 150px;
    height: 75px;
}

#hero {
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
    padding: 8px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.signup {
    background-color: #3882F6;
    color:#F9FAF8;
    width: 100px;
    border-radius: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px;
    margin-top: 10px;
}