body {
    font-family: Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, Sans-Serif;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* navigation */

.navbar {
    display: flex;
    background: #1F2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
    color: #F9FAF8;
}

.logo img {
    width: 150px;
    height: 75px;
    margin-right: auto;
}

.navbar-links {
    display: flex;
    margin-left: auto;
    padding: 0px 70px 0px 0px;
}

.navbar-links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 5px;
}

/* Hero Section Styling */

.footer {
    color: #E5E7EB;
}

.hero {
    display: flex;
    padding: 32px;
    height: 400px;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
}

.hero, .footer {
    background: #1F2937;
}

.heroright {
    display: flex;
}

.heroright img {
    width: 400px;
    height: 300px
}

.heroleft {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    text-align: left;
    margin-right: 0px;
}

.heroleft p {
    
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.heroleft button {
    text-align: center;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.infoheader {
    font-size: 36px;
    font-weight: extra-bold;
    font-color: #1F2937;
}

.cardcontainer {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

.cardimg {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border-width: 2px;
    border: solid;
    border-color: #3882F6;
}

.signup {
    background-color: #3882F6;
    color:#F9FAF8;
    width: 100px;
    border-radius: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px;
    margin-top: 10px;
}